/* App.css */
.app {
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.app-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.form-container {
  flex: 1;
  margin: 10px;
}

/* Media query for mobile devices (up to 768px wide) */
@media (max-width: 768px) {
  .app-container {
      flex-direction: column;
      align-items: center; /* Center the form containers */
  }

  .form-container {
      width: 100%; /* Make the form containers take up the full width */
  }
}
 