.csv-upload-form {
  text-align: center;
  padding: 20px;
  border: 2px dotted black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

.csv-upload-title {
  font-family: 'Montserrat', sans-serif;
  color: #17252a;
  font-weight: 800;
  font-size: 36px;
  margin-bottom: 10px;
}

.csv-upload-description {
  font-family: 'Montserrat', sans-serif;
  color: #17252a;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}

.csv-upload-input {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid black;
  width: 500px;
}

.csv-upload-button {
  font-family: 'Montserrat', sans-serif;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #17252a;
  color: #def2f1;
  border: 2px solid black;
  cursor: pointer;
  width: 500px;
}

.csv-upload-status {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #17252a;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .csv-upload-title {
      font-size: 28px;
  }

  .csv-upload-description {
      font-size: 16px;
  }

  .csv-upload-button {
      padding: 10px 15px;
      font-size: 16px;
      width: 300px;
  }

  .csv-upload-input {
      padding: 8px;
      width: 300px;
  }
}
