.footer-container {
  background-color: #17252a; 
  color: #def2f1; 
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-section {
  margin: 0 20px;
}

.footer-links,
.footer-socials {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.footer-links a,
.footer-socials a {
  color: #def2f1;
  text-decoration: none;
}

.footer-socials img {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .footer-content {
      flex-direction: column;
      align-items: center;
  }

  .footer-section {
      margin: 10px 0;
  }
}
